/* Estilos específicos para Lauren Cuervo */
.lauren-side {
    background-color: var(--lauren-primario);
    color: var(--lauren-secundario);
    border-color: var(--lauren-acento);
}

.lauren-side .author-name {
    color: var(--lauren-secundario);
    font-family: var(--fuente-titulos);
}

.lauren-side .author-description {
    color: var(--lauren-secundario);
    font-family: var(--fuente-cuerpo);
}

.lauren-side .author-themes h4 {
     color: var(--lauren-secundario);
     font-family: var(--fuente-manuscrita);
}

.lauren-side .theme-list li {
    color: var(--lauren-secundario);
    font-family: var(--fuente-cuerpo);
}

.lauren-side .theme-icon {
    color: var(--lauren-acento); /* Iconos con color de acento */
}

.lauren-side .author-image {
    border-color: var(--lauren-acento);
}

.lauren-section {
    background: linear-gradient(to right, var(--negro-profundo), var(--azul-noche));
    color: var(--blanco-etereo);
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
  }