<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Entrada de Blog</title>
  <link rel="stylesheet" href="../css/styles.css" />
</head>
<body>

  <article class="blog-entry">
    <h1 class="blog-entry__title"></h1>
    <span class="blog-entry__date"></span>

    <div class="blog-entry__content">
      <figure>
        <img src="" alt="" class="blog-entry__image" />
        <figcaption></figcaption>
      </figure>
    </div>

    <p class="blog-entry__signature"></p>
  </article>

  <script src="../js/blog-template.js"></script>
  <script src="../js/blog-entry.js"></script>
</body>
</html>
